@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@layer theme, base, mui, components, utilities;
@import 'tailwindcss';

@theme {
  --color-background: #F6F6F6;
  --color-foreground: #1E1E1E;
  --color-primary: #1A84DB;
  --font-nunito: "Nunito", sans-serif;
}

body {
    @apply font-nunito text-sm text-foreground bg-background;
}