.env
.env.*

# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store
._.DS_Store

# dfx temporary files
.dfx/
.yarn
canister_ids.json

# frontend code
node_modules/
out/

# Next.js
frontend/.next/

# reactjs
frontend/dist/

# Rust build artifacts
target/
Cargo.lock
uploads/
.devcontainer/


ggml-base.en.bin
ggml-base.en.bin.*

dist/