@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@layer theme, base, mui, components, utilities;
@import 'tailwindcss';

@theme {
  --color-background: #151B29;
  --color-background2: #1E2337;
  --color-background3: #303650;
  --color-foreground: #FDFDFD;
  --color-foreground2: #C6C6C6;
  --color-primary: #1A84DB;

  --font-nunito: "Nunito", sans-serif;

  --z-index-progress: 9999;
}

body {
  @apply font-nunito text-sm text-foreground bg-background;
}

.max-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

#nprogress .bar {
  z-index: var(--z-index-progress) !important;
}